{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src/"
          ]
        ],
        "extensions": [
          ".js",
          ".css",
          ".mdx"
        ]
      }
    }
  }
}