{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "preact",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "alias": {
          "@": "./src"
        }
      }
    }
  }
}