/* Include this stylesheet after Milligram or merge it with your main.css */

body {
  --glob-bg: #2c2f34;
  --glob-color: #f2f2f2;
  --colors-accent: #7fdbff;
  background: var(--glob-bg);
  color: var(--glob-color);
}

.navigation .title,
.navigation-title {
  color: var(--glob-color);
}

.navigation {
  background: #34373c;
  border-bottom: 0.1rem solid #1b1c1d;
}

.header {
  background-color: #141518;
}

pre {
  background: #141518;
}

.prettyprint {
  color: var(--glob-color);
}

.prettyprint.lang-md * {
  color: var(--glob-color) !important;
}

code {
  background: #141518;
}

.prettyprint .atv {
  color: rgba(73, 158, 223, 1);
}

a {
  color: var(--colors-accent);
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: var(--colors-accent);
  border: 0.1rem solid var(--colors-accent);
}

.button.button-outline,
button.button-outline,
input[type="button"].button-outline,
input[type="reset"].button-outline,
input[type="submit"].button-outline {
  color: var(--colors-accent);
}

.button.button-clear,
button.button-clear,
input[type="button"].button-clear,
input[type="reset"].button-clear,
input[type="submit"].button-clear {
  color: var(--colors-accent);
}