.lato {
  font-family: "Lato", Fallback, sans-serif !important;
}
.raleway {
  font-family: "Raleway", Fallback, sans-serif !important;
}

.thin-weight {
  font-weight: 100;
}
.light-weight {
  font-weight: 300;
}
.regular-weight {
  font-weight: 400;
}
.bold-weight {
  font-weight: 700;
}
.black-weight {
  font-weight: 900;
}
