@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}

@mixin squeeze() {
  padding-left: 15%;
  padding-right: 15%;
}

@mixin squeezeLess() {
  padding-left: 5%;
  padding-right: 5%;
}

@mixin fancyList() {
  list-style: none;
  li::before {
    content: "▹";
    padding-right: 1rem;
  }
}
