@import "./mixins";

@mixin base {
  margin: 0 auto;
  max-width: 1000px;
}

.landing {
  @include base;
  @include flex-center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
}