.base {
  margin: 0 auto;
  max-width: 1000px;
}

.landing {
  composes: base;
  composes: flex-center from "./mixins.css";
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
}
