@use "./fonts.scss";

:root {
  --global-box: 80rem;
}

html {
  @supports (scroll-behavior: smooth) {
    scroll-behavior: smooth;
  }
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: initial;
  }
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}

a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: gray;
  color: black;

  &:focus,
  &:hover {
    color: orange;
    text-decoration: none;
  }
}
